ADMIN_TELEGRAM_ID=123456789
STATE_FILE=/app/data/state.json
OPENVPN_IMAGE=kylemanna/openvpn:2.4
DOCKER_BIN=/usr/bin/docker

# For a local run without Docker Compose secrets:
# BOT_TOKEN=1231231231:AAAAAAAAABBBBCCCCCCCCCCCCCC

